<main>
    <section class="card">
        <article class="class-body">
            <h2 class="card-title">Conditions Générales d'Utilisation (CGU) de Dysclass.</h2>

            <ol>
                <li>
                    Editeur du site:<br>
                    Ribot cedric, domiciliant au 10 rue du president coty, 61000 Alençon, FRANCE
                </li>

                <li>
                    Objet.<br>
                    Les présentes conditions générales d'utilisation (CGU) ont pour objet de définir les modalités et
                    conditions d'utilisation du site internet Dysclass (ci-après "le Site"), édité par Cédric RIBOT et
                    permettant aux enseignants ou aux parents d'enfants ayant des troubles dys de créer des exercices et
                    de les publier pour que les enfants puissent y répondre.
                </li>

                <li>
                    Acceptation des CGU.<br>
                    L'utilisation du Site implique l'acceptation pleine et entière des présentes CGU. L'utilisateur
                    reconnaît avoir pris connaissance de ces CGU et les accepter sans réserve.
                </li>

                <li>
                    Accés au Site.<br>
                    L'accès au Site est réservé aux personnes ayant créé un compte et s'étant identifiées à l'aide de
                    leur identifiant et mot de passe. L'utilisateur est responsable de la confidentialité de son
                    identifiant et de son mot de passe. Dysclass se réserve le droit de suspendre l'accès au Site en cas
                    d'utilisation abusive ou frauduleuse du compte.
                </li>

                <li>
                    Utilisation du Site.<br>
                    Le Site est réservé à un usage personnel et non commercial. L'utilisateur s'engage à respecter les
                    lois et réglementations en vigueur ainsi que les droits de propriété intellectuelle de Dysclass.
                    L'utilisateur s'interdit notamment de reproduire, représenter, modifier ou adapter tout ou partie du
                    Site ou de son contenu.<br>
                    L'utilisateur s'engage à utiliser le Site de manière responsable et à respecter les autres
                    utilisateurs du Site. Tout comportement inapproprié, tel que des propos discriminatoires,
                    diffamatoires ou injurieux, pourra entraîner la suspension du compte de l'utilisateur.
                </li>

                <li>
                    Propriété intellectuelle.<br>
                    Le Site, son contenu, les images libres de droit provenant de Pexel.com et les icônes provenant de
                    Font Awesome sont la propriété exclusive de Dysclass ou de ses partenaires. Toute reproduction,
                    représentation, modification, adaptation ou utilisation de tout ou partie du Site sans autorisation
                    préalable écrite de Dysclass est strictement interdite et constitue une contrefaçon sanctionnée par
                    les dispositions du Code de la propriété intellectuelle.
                </li>

                <li>
                    Responsabilité.<br>
                    Dysclass met en œuvre tous les moyens nécessaires pour assurer la sécurité et la confidentialité des
                    données personnelles des utilisateurs. Toutefois, Dysclass ne peut être tenue responsable en cas de
                    piratage du Site ou de divulgation des données personnelles des utilisateurs, à moins que cette
                    divulgation soit due à une faute de Dysclass.<br>
                    Dysclass ne peut être tenue responsable des contenus publiés par les utilisateurs sur le Site.
                    Toutefois, Dysclass se réserve le droit de supprimer tout contenu jugé inapproprié ou contraire aux
                    présentes CGU.
                </li>

                <li>
                    Modifications des CGU.<br>
                    Dysclass se réserve le droit de modifier les présentes CGU à tout moment. Les modifications seront
                    publiées sur le Site et les utilisateurs seront informés par email. En continuant d'utiliser le Site
                    après l'entrée en vigueur des modifications, l'utilisateur accepte les nouvelles CGU.
                </li>

                <li>
                    Loi applicable et juridiction compétente.<br>
                    Les présentes CGU sont régies par le droit français. Tout litige relatif à l'utilisation du Site
                    sera soumis à la compétence exclusive des tribunaux français.
                </li>

            </ol>
            <p>
                En utilisant Dysclass, vous acceptez les présentes CGU ainsi que la politique de confidentialité
                disponible sur le Site.<br>
                Si l'une quelconque des dispositions des présentes CGU est tenue pour nulle, illégale ou inapplicable,
                cette disposition sera réputée non écrite mais n'affectera pas la validité et l'applicabilité des autres
                dispositions des présentes CGU.<br>
                Le fait que Dysclass n'exige pas l'application d'une disposition des présentes CGU ne peut être
                interprété comme une renonciation à faire valoir ses droits.<br>
                En cas de questions ou de réclamations, vous pouvez contacter Dysclass par email à l'adresse suivante :
                contact@dysclass.com.<br>
                Date de dernière mise à jour : 17/02/23.
            </p>

        </article>
    </section>
</main>