<main>
    <section class="sidebar">
        <article>
            <ul class="menu">
                <li>
                    <a routerLink="/matiere" >
                        <fa-icon [icon]="faBookmark"></fa-icon> matiere
                    </a>
                </li>
                <li>
                    <a routerLink="/exerciceliste" >
                        <fa-icon [icon]="faBook"></fa-icon> Exercices
                    </a>
                </li>
                <li>
                    <a routerLink="/enseignants"> 
                        <fa-icon [icon]="faUserGear"></fa-icon> listes des enseignant
                    </a>
                </li>
                <li><a routerLink="/compte" >
                        <fa-icon [icon]="faGears"></fa-icon>Mon compte
                    </a>
                </li>
            </ul>
        </article>
    </section>
</main>
