<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <label for="title">Titre :</label>
    <input type="text" id="title" formControlName="title" required>
    <br><br>
  
    <!-- <label for="content">Contenu :</label>
    <textarea id="content"formControlName="content" rows="4" required></textarea>
    <br><br> -->
    
    <label for="consigne">Consigne :</label>
    <textarea id="consigne" formControlName="consigne" rows="4" required></textarea>
    <br><br>
    
    <label for="answer1">Réponse 1 :</label>
    <input type="text" id="answer1" formControlName="answer1" required>
    <br><br>
    
    <label for="answer2">Réponse 2 :</label>
    <input type="text" id="answer2" formControlName="answer2" required>
    <br><br>
    
    <label for="answer3">Réponse 3 :</label>
    <input type="text" id="answer3" formControlName="answer3" required>
    <br><br>
    
    <label for="answer4">Réponse 4 :</label>
    <input type="text" id="answer4" formControlName="answer4" required>
    <br><br>
    
    <label for="answer5">Réponse 5 :</label>
    <input type="text" id="answer5" formControlName="answer5" required>
    <br><br>
    
    <button type="submit" >Créer l'exercice</button>
  </form>