<main>
    <section class="sidebar">
        <article>
            <ul class="menu">
                <li>
                    <a routerLink="/exerciceform" routerLinkActive="active" aria-current="page">
                        <fa-icon [icon]="faBook"></fa-icon> Exercices
                    </a>
                </li>
                <!-- <li>
                    <a>
                        <fa-icon [icon]="faUserGear"></fa-icon> Eleves
                    </a>
                </li> -->
                <li><a routerLink="/compte" routerLinkActive="active" aria-current="page">
                        <fa-icon [icon]="faGears"></fa-icon>Mon compte
                    </a>
                </li>
            </ul>
        </article>
    </section>
</main>
