@media screen and (max-width: 480px) {

  main{
    font-family: "Andika", sans-serif;
  }
  .sidebar {
    width: 100%;
    height: auto;
    background-color: #ff949f;
  }
   .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 0.72em;
    /* padding:10px; */
    /* padding-right: 25px; */
  }

  fa-icon {
    margin-right: 1px;
  }

  li {
    color: #2b353e;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  li:hover {
    color: #f8f8ff;
  }}

@media screen and (min-width: 481px) {
  /* creation de la side varre */
.sidebar {
  font-family: "Andika", sans-serif;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2b353e;
  width: 15vw;
  height: 85vh;
  padding-top: 100px;
  background-color: #ff949f;
  font-size: 1.1rem;
}
/* taille et position du test, icon   */
.menu {
  color: #2b353e;
  list-style-type: none;
}

fa-icon {
  padding-right: 5px;
}
a:visted{
  color: #2b353e;
}
a:hover{
  color:#f8f8ff
}}