<main>
    <section class="card">
        <article class="class-body">
            <h2 class="card-title">Politique de confidentialité de Dyclass</h2>
            <h3>Introductio</h3>
            <p>Dyclass respecte la vie privée de ses utilisateurs et s'engage à protéger leurs données personnelles.
                Cette politique de confidentialité explique comment Dyclass collecte,
                utilise et protège les données personnelles de ses utilisateurs conformément aux lois françaises et
                européennes.
            </p>
            <h3>Collecte des données personnelles</h3>
            <p>Dyclass peut collecter des données personnelles des utilisateurs, y compris mais sans s'y limiter :</p>
            <ul>
                <li>Nom et prénom</li>
                <li>Adresse e-mail</li>
                <li> Historique de navigation sur le site</li>
            </ul>
            <p>Dyclass peut également collecter des données personnelles indirectement, par exemple à partir de cookies.
            </p>
            <h3>Utilisation des données personnelles</h3>
            <p>Dyclass utilise les données personnelles des utilisateurs pour les finalités suivantes :</p>
            <ul>
                <li>Fournir des services personnalisés aux utilisateurs</li>
                <li>Répondre aux demandes des utilisateurs</li>
                <li>Améliorer les services de Dyclass</li>
                <li>Communiquer avec les utilisateurs</li>
            </ul>
            <p>Les utilisateurs peuvent exercer ces droits en contactant Dyclass à l'adresse e-mail suivante : </p>
            <p>admin@admin.fr</p>
            <h3>Modifications de la politique de confidentialité</h3>
            <p>Dyclass peut modifier cette politique de confidentialité à tout moment en publiant une version mise à
                jour sur le site.
                Les utilisateurs sont invités à consulter régulièrement la politique de confidentialité pour prendre
                connaissance des éventuelles modifications.</p>
            <h3>conclusion</h3>
            <p>Dyclass s'engage à protéger la vie privée de ses utilisateurs et à respecter les lois françaises et
                européennes en matière de protection des données personnelles.
                Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez
                contacter Dyclass à l'adresse e-mail suivante : admin@admin.fr.</p>
        </article>
    </section>
</main>