@media screen and (max-width: 480px) {
  /* center le main pour qui soit au milieu de la page */
  main {
    font-family: "Andika", sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
  }
  /* taille, position couleur de fond de carte et couleur du texte  */
  .card {
    border-radius: 15px;
    width: 90vw;
    height: auto;
    background-color: #f8f8f8;
    color: #2b353e;
  }
  /* couleur dufond de headerde la carte, du ligne du bas du header et position du header par rapport a la carte */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 10vh;
    font-size: 1.5rem;
    border-radius: 15px 15px 0 0;
    background-color: #ff949f;
  }
  /* taille de la police espace avec l'oject dessus */
  p {
    padding-top: 10px;
  }
  /* positionnement et aspect visuel du form inscription  */
  .inscriptionform {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  label {
    margin-top: 10px;
    color: #2b353e;
    margin-left: 15px;
    font-size: 1.35rem;
  }

  input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 90%;
    border-radius: 5px;
    background-color: #f8f8f8;
  }

  span {
    font-size: 0.90rem;
    margin-left: 15px;
  }
  /* positionnement,taille et designe du bouton validation  */
  .btns {
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #btnin {
    font-size: 1rem;
    width: 90%;
    height: 5vh;
    background-color: #77dd77;
    color: #2b353e;
    border: #77dd77 1px solid;
    border-radius: 50px;
    margin-bottom: 5px;
  }

  #btnin:hover {
    background-color: #ff949f;
    color: #f8f8f8;
    border: #ff949f 1px solid;
  }
}

@media screen and (min-width: 481px) {
  /* center le main pour qui soit au milieu de la page */
  main {
    font-family: "Andika", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* taille, position couleur de fond de carte et couleur du texte  */
  .card {
    border-radius: 15px;
    margin-top: 25px;
    width: 40vw;
    height: auto;
    background-color: #f8f8f8;
    color: #2b353e;
  }
  /* couleur dufond de headerde la carte, du ligne du bas du header et position du header par rapport a la carte */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 6vh;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px #2b353e;
    background-color: #ff949f;
  }
  /* taille de la police espace avec l'oject dessus */
  p {
    padding-top: 3px;
    font-size: 1.5rem;
  }
  /* positionnement et aspect visuel du form inscription  */
  .inscriptionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  label {
    color: #2b353e;
    font-size: 1.25rem;
    margin-top: 20px;
  }

  input {
    margin-top: 5px;
    width: 25vw;
    height: 5vh;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  span {
    font-size: 1rem;
    margin-top: 15px;
  }
  /* positionnement,taille et designe du bouton validation  */
  article {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .btns {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  #btnin {
    font-size: 1.1rem;
    width: 25vw;
    height: 5vh;
    background-color: #77dd77;
    color: #2b353e;
    border: #77dd77 1px solid;
    border-radius: 50px;
  }
  #btnin:hover {
    background-color: #ff949f;
    color: #f8f8f8;
    border: #ff949f 1px solid;
  }
}
