@media screen and (max-width: 480px) {
  main {
    font-family: "Andika", sans-serif;
  }
  .presentation {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .tableau {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: #2b353e;
    border: #582900 10px ridge;
    border-radius: 15px;
    width: 90vw;
  }
  .lienuti {
    color: #f8f8ff;
    text-align: center;
    font-size: 1.5rem;
  }
  .info {
    color: #f8f8ff;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .liens {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 2.5px;
    text-align: center;
  }
  .vert {
    color: #77dd77;
    font-size: 1rem;
  }
  .rouge {
    color: #ff949f;
    font-size: 1rem;
  }
  .carousel {
    margin: 0 auto;
    width: 90vw;
  }
  img {
    width: 80vw;
    height: auto;
  }
  h5 {
    color: #2b353e;
  }
}

@media screen and (min-width: 481px) {
  main {
    font-family: "Andika", sans-serif;
  }
  /* texte centrer et taille  */
  .presentation {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.5rem;
    text-align: center;
  }

  .body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* taille, position et deco block tableau */
  .tableau {
    font-size: 1.4rem;
    margin-left: 25px;
    padding-left: 45px;
    width: 40vw;
    height: 40vh;
    background-color: #2b353e;
    border: #582900 10px ridge;
    border-radius: 15px;
  }
  /* decoration des liens */
  .lienuti {
    color: #f8f8ff;
    text-align: center;
    padding-bottom: 25px;
  }

  .info {
    padding-left: 10px;
    padding-right: 10px;
    color: #f8f8ff;
    text-align: center;
  }

  .liens {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-right: 15px;
  }

  .vert {
    color: #77dd77;
    font-size: 1.2rem;
  }

  .rouge {
    color: #ff949f;
    font-size: 1.2rem;
  }
  /* positioment du carousel */
  .carousel {
    margin-left: 25px;
    margin-top: 30px;
    width: 45vw;
  }
  h5 {
    color: #2b353e;
  }
}
