@media screen and (max-width: 480px) {
  footer {
    font-family: "Andika", sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    width: 100%;
    background-color: #77dd77;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.52em;
    text-align: center;
  }

  .légale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #fcontact {
  margin-top: 15px;
    font-size: 1em;
  }
  .me-2 {
    font-size: 1em;
  }
}



@media screen and (min-width: 768px) {
  /* designe pour le footer */
  footer {
    font-family: "Andika", sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: #77dd77;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
  }

  .légale {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.85em;
  }
  #fcontact {
    font-size: 0.95em;
  }
  .me-2 {
    font-size: 0.85em;
  }
}
